@import url(global.css);

body {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: var(--text-color);
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    background: var(--nav-bg-color);
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

header figure {
    text-align: left;
    width: 50vw;
}

header img {
    max-width: 50%;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

header :is(a, button) {
    font-weight: 900;
    font-size: 0.9rem;
    color: var(--text-color);
}

header button {
    background: var(--tertiary-color);
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 0.9rem;
    width: 12rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}

main h1, main h1 > strong {
    font-size: 2rem;
}

main h1::first-line {
    font-weight: normal;
}

#logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#logos figure {
    text-align: center;
}

.horizontal-bar {
    width: 60%;
    height: 1vh;
    background: var(--divider-bg-color);
}

#oferta-sub p {
    font-size: 1.5rem;
}

#oferta-sub strong {
    font-size: 2.5rem;
}

.btng-gradiente {
    background: var(--btn-bg-color-gradient);
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

#oferta p {
    width: 15rem;
    font-size: 0.8rem;
}

#planos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.plano-description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: var(--card-bg-color);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
}

.plano-description h3 {
    font-size: 1.5rem;
}

.plano-description strong {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.plano-description ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plano-description li {
    text-align: left;
    padding: 0 0.5rem;
}

.plano-description li::marker {
    content: "+";
    font-size: 2rem;
}

.catalogo {
    padding: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;
    gap: 2rem;
}

.card img {
    width: 100%;
}

section h2 {
    font-size: 2rem;
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

footer p {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

footer, .links a {
    color: var(--link-color);
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links a {
    font-weight: bold;
}

.links a:hover {
    color: var(--text-color);
}

.social ul {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 480px) {
    header {
        position: sticky;
        top: 0;
        width: 100vw;
        flex-direction: column;
    }

    header figure {
        text-align: center;
    }

    .gallery {
        grid-template-columns: repeat(6, 100%);
    }

    .links ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 1141px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    #planos {
        flex-direction: row;
    }
}